body{
	margin: 10px 20px 10px 20px;
	background : #97cbd2;
	text-align:center;
}


#signup1{
	color:#000080;
	float:left;
}
#signup2{
	float:right;
}

#form {
	margin: 20px 20% 20px 20%;
	
	padding:10px;
	
}

#submit{
	display:block;
	clear: both;
	border: solid 5px black;
	margin: auto auto;
	
}

